@using UserManagement.Web.Enums
@model LogListViewModel
<h2>Log List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entity Type</th>
                <th>Entity Ref</th>
                <th>Details</th>
                <th>By</th>
                <th>At</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.EntityType.ToString()
                    </td>
                    <td>
                        @item.EntityRef
                    </td>
                    <td>
                        @item.Details
                    </td>
                    <td>
                        @item.By
                    </td>
                    <td>
                        @item.At.ToString()
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                @*<li><a class="dropdown-item" asp-controller="@LogController.NAME" asp-action="@nameof(LogController.Read)" asp-route-userId="@item.Id">View</a></li>*@
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
