@model UserListViewModel
@using UserManagement.Web.Enums

<h2>User List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Account Active</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.DateOfBirth.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                <li><a class="dropdown-item" asp-controller="@UsersController.NAME" asp-action="@nameof(UsersController.Read)" asp-route-userId="@item.Id">View</a></li>
                                <li><a class="dropdown-item" asp-controller="@UsersController.NAME" asp-action="@nameof(UsersController.Update)" asp-route-userId="@item.Id">Edit</a></li>
                                <form asp-action="@nameof(UsersController.Delete)" asp-route-userId="@item.Id" method="post" onsubmit="confirmThenSubmit(event, 'Are you sure you want to delete user Id @item.Id')" style="display:inline;">
                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                </form>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="btn-group" role="group">
        <a asp-controller="@UsersController.NAME" asp-action="@nameof(UsersController.List)" asp-route-filter="@UserFilter.All" class="btn btn-default">Show All</a>
        <a asp-controller="@UsersController.NAME" asp-action="@nameof(UsersController.List)" asp-route-filter="@UserFilter.Active" class="btn btn-default">Active Only</a>
        <a asp-controller="@UsersController.NAME" asp-action="@nameof(UsersController.List)" asp-route-filter="@UserFilter.Inactive" class="btn btn-default">Non Active</a>
    </div>


    <a asp-controller="@UsersController.NAME" asp-action="@nameof(UsersController.Create)" class="btn btn-primary float-end">Add User</a>
</div>

